a {
  color: black;
  text-decoration: none;
}

main {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 1.0875rem 1.45rem;
}

.Header {
  background: #ffff00;
  margin-bottom: 1.45rem;
}
.Header > div {
  margin: 0 auto;
  max-width: 960px;
  padding: 1.45rem 1.0875rem;
}
.Header > div > h1 {
  margin: 0;
}

.Footer {
  border-top: 1px solid gray;
  margin-top: 1em;
}
.Footer > ul {
  margin: 0;
  list-style-type: none;
}
.Footer > ul > li {
  margin: 0.3em 0em 0.3em 1em;
  float: left;
}
.Footer > ul > li:not(:last-child):after {
  content: "\2022";
  margin-left: 1em;
  color: gray;
}
